rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todoId} {
      	allow read, update, delete, create: if resourceMatchesUID();
    }
    match /projects/{projectId} {
      allow read, update, delete: if resourceMatchesUID();
      allow create : if true;
    }
    match /users/{userId}{
    	allow create : if true;
    }
    function resourceMatchesUID(){
    	return request.auth.uid == resource.data.userId
      }
    }
  }